.intro-container
    display: flex
    justify-content: center
    position: relative
    top: 10vw
    .intro-image
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        img
            border-radius: 20px
            height: 40vw
            width: 80vw
            object-fit: cover
            box-shadow: 3px 9px 18px dimgrey
        .intro-name
            position: absolute
            right: 15vw
            color: #FFFFFF
            font-size: 5vw
            .bold-word
                font-weight: 600
            .intro-position
                text-align: end
                font-size: 3vw