* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gradient: linear-gradient(45deg, #845EC2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
}

#app{
  // background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  .progress-container {
    width: 100%;
    height: 8px;
  }
  .progress-bar {
    height: 8px;
    width: 0%;
    border-radius: 0px 5px 5px 0px;
    background-image: var(--gradient);
    background-size: 400%;
    animation: color_change 5s infinite alternate;
  }
  .intro{
    height: 100vh;
  }
  .skills{
    height: 100vh;
  }
  .projects{
    height: 100vh;
  }
  .contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://firebasestorage.googleapis.com/v0/b/react-portfolio-e09cb.appspot.com/o/method-draw-image.svg?alt=media&token=5d1ad768-5eb2-4960-96c8-5a0cc5fd1c3d');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 35%;
    input{
      outline: none;
      padding: 10px;
    }
    textarea{
      resize: none;
      outline: none;
      height: 85px;
      padding: 10px;
    }
    .form{
      background-color: whitesmoke;
      height: 400px;
      width: 500px;
      border-radius: 10px;
      transition: box-shadow 0.5s linear;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 20px;
      button{
        background-color: #6C6EFF;
      }
      .social-links{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
          text-decoration: none;
          img{
            height: 50px;
            width: 50px;
          }
        }
      }
    }
    .form:hover{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }
  @keyframes color_change {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
}